* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: none;

}
body {
    background-image: url(../images/imagen1.jpg);
}

li:hover {
    translate: 2px 2px;
}

a {
    text-decoration: none;
    box-shadow: none;
    color: white;
}

.grilla {
    display: grid;
   /* background-color: purple; */
    column-gap: 2%;
    row-gap:2%;
    color:#DC143C;

}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
nav {
        display:flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to left, black, rgb(54, 54, 54));
}

footer {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to left, black, rgb(54, 54, 54));
    color: #FFFFFF;
    align-self: baseline;
}
footer h2 {
    Color: #DC143C;
}
#padref {
    display: flex;
   flex-direction: row;
   justify-content: space-around;
}

#hijo1f {
    width: 50%;
    text-align: center;
}

#hijo3f {
    width: 25%;
    text-align: center;
    
}
#hijo3f a {
    margin-right: 2%;
    margin-left: 2%; 
    height: 40px;
    width: 40px;
    font-size: 35px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    line-height: 40px;
}
#hijo3f a:hover {
    color:#DC143C;
    background-color: #ffffff;
}
#hijo3f h2 {
    margin-bottom: 5px;
}

/* fin footer*/

/*mobile */
@media only screen and (max-width: 600px) {
    body{
     /* background-color: orange; */
        height: 100%;
    }
    .grilla{
        grid-template-rows: 200px 200px 200px;
        grid-template-columns: 100%;
        grid-template-areas: "a1" "a2" "a3";
        justify-items: center;
        align-items: center;
    } 
    #hijo1 {
        grid-area: a2;
     /* background-color: yellow; */
        justify-self: stretch;
        align-self: stretch;
    }
    #hijo2 {
        grid-area: a1;
     /* background-color: brown; */
        width: 100%;
        height: 100%;
        justify-self: stretch;
        align-self: stretch;
    }
    #hijo3 {
        grid-area: a3;
     /* background-color: green; */
        justify-self: stretch;
        align-self: stretch;
    }
    #hijo2 img {
        width: 80%;
        height: 80%;
        justify-self: center;
        align-self: center;
    }
    .card {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 80%;
     /* background-color: lightcoral; */
    }
    .card p {
        text-align: center;
    }
    .card h2 {
        text-align: center;
    }
    nav {
        height: 50px;
    }
    nav div {
        width: 30%;
    }
    nav ul {
        list-style-type: none;
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
    }
    nav p {
        text-align: start;
        margin-right: 1%;
    }
    nav li {
        margin-left: 1%;
        margin-right: 1%;
    }
    p {
        overflow: hidden;
    }
    #hijo2f {
        width: 25%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    footer {
        position:fixed;
        bottom: 0;
        width: 100%;
    }
    
   /*prueba footer*/
   







}

@media only screen and (max-width: 480px) {
    #hijo2f {
        width: 25%;
        margin-left: 2%;
        margin-bottom: 2%;
        display:none;
    }
    nav ul {
        list-style-type: none;
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    nav li {
        font-size: 20px;
    }
    nav p{
        font-size: 20px;
    }
    nav {
        height: 130px;
    }
    footer p {
        overflow: hidden;
    }
    footer {
        position:fixed;
        bottom: 0;
        width: 100%;
    }
}


/* vision grande */
@media only screen and ( min-width: 600px){
    .grilla{
        grid-template-rows: 300px 300px;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-areas: "a1 a2 a2 a2 a2" "a1 a3 a3 a3 a3";
        justify-items: center;
        align-items: center;
    }

    #hijo1 {
        grid-area: a2;
        width: 80%;
        height: 80%;
    }

    #hijo2 {
        grid-area: a1;
        width:  80%;
        height: 80%;
        overflow: visible;
    }

    #hijo3 {
        grid-area: a3;
        width: 80%;
        height: 80%;
    }

    #hijo3 p {
        text-align: center;
        width: 80%;
        height: 80%;
    }

    #hijo2 img {
        width: 100%;
        height: 70%;
        justify-self: center;
    }
    .pruebaanimacion {
        -webkit-animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    @-webkit-keyframes flip-vertical-fwd {
        0% {
          -webkit-transform: translateZ(0) rotateY(0);
                  transform: translateZ(0) rotateY(0);
        }
        100% {
          -webkit-transform: translateZ(160px) rotateY(180deg);
                  transform: translateZ(160px) rotateY(180deg);
        }
      }
      @keyframes flip-vertical-fwd {
        0% {
          -webkit-transform: translateZ(0) rotateY(0);
                  transform: translateZ(0) rotateY(0);
        }
        100% {
          -webkit-transform: translateZ(160px) rotateY(180deg);
                  transform: translateZ(160px) rotateY(180deg);
        }
      }
    #hijo2 p {
        display: none;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 150px;
    }
    nav div {
        font-size: 20px;
    }
    li {
        display: inline-flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    #hijo1 h1 {
        text-align: center;
    }
    footer {
        position:fixed;
        bottom: 0;
        width: 100%;
    }
    nav li {
        font-size: large;
        font-weight: 900;

    }
    nav p {
        font-weight: 900;
        color: #DC143C;
    }
}



 /*galeria  */
  #grillax {
      display: grid;
  }

/*galeria grande */
  @media only screen and ( min-width: 600px) {
    #grillax {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 273px 273px;
        grid-template-areas: "a1 a2 a3" "a4 a5 a6";
        justify-items: center;
        align-items: center;
    }
    .cartax {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 80%;
        background-color: #DC143C;
        border-radius: 5%;
    }
    .cartax h2 {
        text-align: center;
    }
    .cartax img {
        width: 100%;
        height: 90%;
    }
  }

 /*galeria mobile */
  @media only screen and ( max-width: 600px) {
      #grillax {
          grid-template-columns: 60%;
          grid-template-rows: 100% 16.66% 16.66% 16.66% 16.66% 16.66%;
          grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
          justify-items: center;
          align-items: center;
      }
      .cartax {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 80%;
        background-color: #DC143C;
        border-radius: 5%;
    }
    .cartax h2 {
        text-align: center;
    }
    .cartax img {
        width: 100%;
        height: 90%;
    }
    footer {
        position: relative;
    }
  }

