body {
  background-image: url(../images/foto1.jpg); }

#prueba1 {
  height: 800px; }

#prueba2 {
  height: 100%; }

#primera {
  height: 30%; }

#segunda {
  height: 30%; }
  #segunda h1 {
    font-weight: 400;
    font-size: 52px; }

#tercera {
  height: 30%; }

li:hover {
  translate: 2px 2px; }

div img:hover {
  scale: 1.05; }

#separador1 {
  height: 10vh; }

#separador2 {
  height: 10vh; }

.contenedorinstalaciones {
  text-align: center;
  color: var(white); }

#separador6 {
  height: 10vh; }

#separador7 {
  height: 10vh; }

#separador8 {
  height: 10vh; }

#contenedoragenda {
  text-align: center;
  color: var(white); }

#separador4 {
  height: 10vh; }

#separador5 {
  height: 10vh; }

.contenedor {
  color: var(white);
  padding: 1vh 1vh 1vh 1vh;
  border-radius: 1em;
  background: #556270;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF6B6B, #556270);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF6B6B, #556270);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
