@mixin separadores ($alto) {
    height: $alto;
}

#separador6 {
    @include separadores(10vh)
}
#separador7 {
    height: 10vh;
}
#separador8 {
    @include separadores(10vh)
}
#contenedoragenda {
    text-align: center;
    color: var($colorLetras);
}
