@mixin separadores ($alto) {
    height: $alto;
}
#separador1 {
    @include separadores(10vh)
}
#separador2 {
    @include separadores(10vh)
}
.contenedorinstalaciones {
    text-align: center;
    color: var($colorLetras);
}