#separador1 {
    height: 10vh; /*intente poner a 10vh como una variable ya que se repetia pero me crasheaba el css y no se aplicaba*/
}

#separador2 {
    height: 10vh;
}

.contenedorinstalaciones {
    text-align: center;
    color: var($colorLetras);
}