@import "variables.scss";

body {
    background-image: url(../images/foto1.jpg);
}


#prueba1 {
    height: 800px;
}

#prueba2 {
    height: 100%;
}

#primera {
    height: 30%;
}

#segunda {
    height: 30%;
    h1 {
        font-weight: 400;
        font-size: 52px;
    }
}

#tercera {
    height: 30%;
}

li:hover {
    translate: 2px 2px;
}

div {
    img:hover {
        scale: (1.05);
    }
}
article {
    img:hover {
        scale: (1.05);
    }
}

@import "instalaciones.scss";

@import "agenda.scss";
@import "contacto.scss";

.letracontacto {
    p {
        margin-bottom: 0rem;
    }
    p:hover {
        translate: 1px 1px;
    }
}
.letracontactoblanco {
    @extend .letracontacto;
    color: white;
}
.letracontactonegro {
    @extend .letracontacto;
    color:black;
}
#contenedorcentrar {
    display: flex;
    justify-content: center;
}
/* iconos footer offcanvas*/

#hijo3 a {
    height: 40px;
    width: 40px;
    font-size: 35px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    border-radius: 50%;
    color: $colorLetras;
    line-height: 40px;
    #hijo3 a:hover {
        color: black;
        background-color: gray;
    }
}

/*  fin iconos footer offcanvas*/
#offcanvascuerpo {
    background-color: #1C1C1C;
}
#contenedorcolorletras {
    color: $colorLetras;
}
#offcanvasheader {
    color: #1C1C1C;
}

@media only screen and (max-width: 999px) {
    #ocultar {
        visibility: hidden;
    }
    #ocultar2 p{
        overflow: hidden;
    }
}
@media only screen and (max-width: 500px) {
    #offcanvasbody {
        max-height: 400px;
    }
    #ocultar2 {
        max-height: 300px;
    }
}






